/* _____________Assignment Table________________________ */

.text_box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.shadow {
  background: rgb(249, 247, 243);
  margin-top: 30px;
  border: 1px solid #c1c1c1;
  padding: 0 20px;
  position: relative;
}

.shadow::before,
.shadow::after {
  content: "";
  /* Вывод тени */
  position: absolute;
  bottom: 15px;
  left: 10px;
  width: 50%;
  /* Ширина тени */
  max-width: 300px;
  /* Максимальная ширина тени */
  height: 15px;
  /* Высота тени */
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.5);
  /* Тень */
  transform: rotate(-3deg);
  /* Поворот */
  z-index: -1;
  /* Опускаем ниже блока */
}

.shadow::after {
  transform: rotate(3deg);
  /* Поворот */
  right: 10px;
  /* Положение справа */
  left: auto;
  /* Восстанавливаем положение слева */
}

hr {
  border: 1px solid #c1c1c1;
}

// ===========================================================

.assignments {
  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__grid_box {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 2fr 4fr;
  }

  &__grid_item {
    padding: 10px 0px;
    line-height: 1.1;
  }

  // &__grid_item:nth-child(2n + 1) {
  //   background-color: #fdbe33;
  // }

  &__grid_sub_item {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    line-height: 1.1;
  }

  &__image {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__item_inner {
    display: flex;
    flex-direction: column;
  }

  &__entity {
    line-height: 1.1;
    margin-top: 10px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__sub-entity {
    display: flex;
    align-items: center;
  }
}

.flag {
  margin-right: 10px;
}

.table_head {
  font-weight: bold;
  align-self: center;
  text-align: center;
  font-family: "Solway";
  font-size: 1rem;
}

/* _________________Collapsible Content________________ */

.collapsible {
  background-color: #878686;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1rem;
  border-radius: 10px;
}

.active,
.collapsible:hover {
  background-color: #555;
}

.collapsible_content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #ebe6d6;
  z-index: 11;
  font-size: 1rem;
}

.collapsible_ol {
  margin-left: 10px;
}

.collapsible_ol li {
  margin-top: 10px;
}

// --------------------------------------------------------

// ======================== MEDIA ========================

@media screen and (max-width: 1200px) {
  .assignments {
    &__grid_sub_item,
    &__entity {
      font-size: 0.8rem;
    }

    &__image {
      width: 20px;
    }
  }

  .table_head {
    font-size: 0.8rem;
  }

  .collapsible {
    font-size: 0.8rem;
  }

  .collapsible_content {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 1000px) {
  .assignments {
    &__grid_sub_item,
    &__entity {
      font-size: 0.7rem;
    }
  }

  .table_head {
    font-size: 0.7rem;
  }

  .collapsible {
    font-size: 0.7rem;
  }

  .collapsible_content {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 850px) {
  .assignments {
    &__grid_sub_item,
    &__entity {
      font-size: 0.6rem;
    }
  }

  .table_head {
    font-size: 0.6rem;
  }

  .collapsible {
    font-size: 0.6rem;
  }

  .collapsible_content {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 700px) {
  .assignments {
    &__inner {
      flex-direction: row;
    }

    &__grid_box {
      display: flex;
      flex-direction: column;
    }

    &__item_inner {
      align-items: center;
      text-align: center;
    }

    &__grid_sub_item,
    &__entity {
      font-size: 1rem;
    }

    &__image {
      width: 30px;
    }
  }

  .table_head {
    font-size: 1rem;
  }

  .collapsible {
    height: 50px;
    font-size: 1rem;
  }

  .collapsible_content {
    font-size: 1rem;
  }

  .underline {
    border-bottom: 1px dotted #878686;
  }

  .height_3_lines {
    height: 80px;
  }

  .extra_height_1 {
    height: 120px;
  }
}

@media screen and (max-width: 500px) {
  .assignments {
    &__grid_sub_item,
    &__entity {
      font-size: 0.8rem;
    }

    &__image {
      width: 20px;
    }
  }

  .table_head {
    font-size: 0.8rem;
  }

  .collapsible {
    height: 30px;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
  }

  .collapsible_content {
    font-size: 0.8rem;
  }

  .height_3_lines {
    height: 50px;
  }

  .extra_height_1 {
    height: 90px;
  }
}

@media screen and (max-width: 350px) {
  .assignments {
    &__grid_sub_item,
    &__entity {
      font-size: 0.6rem;
    }
  }

  .table_head {
    font-size: 0.6rem;
  }

  .collapsible {
    font-size: 0.6rem;
  }

  .collapsible_content {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 300px) {
  .assignments {
    &__grid_sub_item,
    &__entity {
      font-size: 0.5rem;
    }
  }

  .table_head {
    font-size: 0.5rem;
  }

  .collapsible {
    font-size: 0.5rem;
  }

  .collapsible_content {
    font-size: 0.5rem;
  }
}

// ===========================================================
.sub-box {
  /* flex: 1 40px; */
  margin: 0px 5px 5px 5px;
  /* background-color: rgb(247, 249, 131); */
  align-self: flex-start;
  text-align: left;
  font-size: 14px;
}

.sub-box:nth-of-type(1),
.sub-box:nth-of-type(2) {
  flex: 1 40px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
}

.sub-box:nth-of-type(3) {
  flex: 3 40px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.sub-box:nth-of-type(4) {
  flex: 2 40px;
  display: flex;
  justify-content: center;
}

.sub-box:nth-of-type(5) {
  flex: 5 40px;
}

// .sub-box:nth-of-type(2) .text_in_duties {
//   align-self: center;
// }

// .sub-box .flag_company,
// .flag_location {
//   flex: 1;
//   width: 30px;
//   align-self: flex-start;
// }

.sub-box:nth-of-type(3) .company_in_duties {
  flex: 5;
  align-self: flex-start;
  margin: 10px 0 0 10px;
}

.sub-box:nth-of-type(3) .company_in_two_lines {
  flex: 5;
  align-self: flex-start;
  margin: 0 0 0 10px;
}

.sub-box:nth-of-type(3) .company_in_three_lines {
  flex: 5;
  align-self: flex-start;
  margin: -8px 0 0 10px;
}

.make_bold {
  font-weight: 800;
  text-decoration: wavy underline;
}

/* ------------------------------------------------------- */

.mini_table {
  display: grid;
  grid-template-columns: 1fr 4fr;
  row-gap: 10px;
}

/* ---------Button for Short-Term Assignments------------------ */

.for_button {
  display: flex;
  justify-content: center;
  margin: 50px 0 50px 0;
}

.for_button:first-child {
  margin: 50px;
}

a.button_ST-Assignments {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 0.5em 2em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #fdbe33 #000 #d77206;
  border-radius: 6px;
  background: linear-gradient(#f3ae0f, #e38916) #e38916;
  transition: 0.2s;
}
a.button_ST-Assignments:hover {
  background: linear-gradient(#f5ae00, #f59500) #f5ae00;
}
a.button_ST-Assignments:active {
  background: linear-gradient(#f59500, #f5ae00) #f59500;
}

/* -------------------- for Short-Term Assignments ----------------*/

.mini_table2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: 10px;
}

.document {
  border: 1px solid brown;
}

.simply_bold {
  font-weight: 600;
}

.grids_2x2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  row-gap: 10px;
}

/* ------------------ PhotoSlider ------------------------ */
/* 
 * {
  box-sizing: border-box;
} */

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 24px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
