{% extends 'cv/base.html' %} {% block content %}

<section class="assignments">
  <div class="container">
    <!-- ----------------Assignment No.1 ------------------------------ -->

    <div class="shadow">
      <div class="assignments__inner">
        <!-- ---------------- Table head -------------------------- -->

        <div class="assignments__grid_box">
          <div class="assignments__grid_item height_3_lines table_head">
            Date <br />(from–to)
          </div>
          <div class="assignments__grid_item height_3_lines table_head">
            Location
          </div>
          <div class="assignments__grid_item table_head extra_height_1">
            Company & <br />Reference person
          </div>
          <div class="assignments__grid_item table_head">Position</div>
          <div class="assignments__grid_item table_head">Duties</div>
        </div>
        <hr />
        <!-- ---------------- Table content -------------------------- -->
        <div class="assignments__grid_box">
          <div class="assignments__grid_item underline height_3_lines">
            <div class="assignments__grid_sub_item">15.09.2014</div>
            <div class="assignments__grid_sub_item">–</div>
            <div class="assignments__grid_sub_item">present</div>
          </div>
          <div class="assignments__grid_item underline height_3_lines">
            <div class="assignments__grid_sub_item">Ekaterinburg</div>
            <div class="assignments__grid_sub_item">(Russia)</div>
            <div class="assignments__grid_sub_item">
              <div class="assignments__image">
                <img
                  src="../../static/cv/images/images/icons8-россия-48.png"
                  alt="Russian flag"
                />
              </div>
            </div>
          </div>

          <div class="assignments__grid_item underline extra_height_1">
            <div class="assignments__item_inner">
              <div class="assignments__entity">
                <div class="assignments__sub-entity">
                  <div class="assignments__image flag">
                    <img
                      src="../../static/cv/images/images/icons8-россия-48.png"
                      alt="Russian flag"
                    />
                  </div>
                  <div class="assignments__grid_sub_item company_in_duties">
                    Optima Group Ltd.
                  </div>
                </div>
              </div>
              <div class="assignments__entity">
                Radischev str. 10-27, Ekaterinburg, 620014, Russia
              </div>
              <div class="assignments__entity">
                tel. +7-9122402110; ctamm@e1.ru
              </div>
            </div>
          </div>

          <div class="assignments__grid_item underline">
            <div class="assignments__grid_sub_item">Manager</div>
          </div>
          <div class="assignments__grid_item">
            <button type="button" class="collapsible">
              Open to see details ...
            </button>
            <div class="collapsible_content">
              <ol class="collapsible_ol">
                <li>Development of Strategy for the company development;</li>
                <li>
                  Budgeting. Elaboration of business processes and business
                  plans;
                </li>
                <li>
                  Optimisation of capacity of storage facilities and stock;
                </li>
                <li>
                  Monitoring of action plans aimed at increasing company
                  profitability;
                </li>
                <li>
                  Elaboration of action plans aimed at increasing company
                  efficiency and effectiveness (marketing, advertising,
                  personnel, special actions and etc.);
                </li>
                <li>Organisation of efficient system of company management;</li>
                <li>
                  Team building, including personnel selection and development
                  of motivation system for personnel;
                </li>
                <li>
                  Development of action plan aimed at increasing qualification
                  of personnel;
                </li>
                <li>
                  Carrying out marketing activities aimed at surveying the
                  market demand and competition and also aimed at attracting new
                  clients;
                </li>
                <li>Development of planning and reporting system;</li>
                <li>
                  Development of analytical reports for the company owner.
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ----------------Assignment No.1 ------------------------------ -->

    <div class="shadow">
      <div class="text_box">
        <div class="sub-box table_head">
          Date <br />
          (from–to)
        </div>
        <div class="sub-box table_head">Location</div>
        <div class="sub-box table_head">
          Company & <br />
          Reference person
        </div>
        <div class="sub-box table_head">Position</div>
        <div class="sub-box table_head">Duties</div>
      </div>
      <hr />
      <div class="text_box">
        <div class="sub-box">
          <div class="sub-box text_in_duties">15.09.2014</div>
          <div class="sub-box text_in_duties">–</div>
          <div class="sub-box text_in_duties">present</div>
        </div>
        <div class="sub-box">
          <div class="sub-box text_in_duties">Ekaterinburg</div>
          <div class="sub-box text_in_duties">(Russia)</div>
          <div class="sub-box text_in_duties">
            <img
              src="images\icons8-россия-48.png"
              class="flag_location"
              alt="Russian flag"
            />
          </div>
        </div>
        <div class="sub-box">
          <img
            src="images\icons8-россия-48.png"
            class="sub-box flag_company"
            alt="Russian flag"
          />
          <div class="sub-box company_in_duties">Optima Group Ltd.</div>
          <br />Radischev str. 10-27, Ekaterinburg, 620014, <br />Russia
          <br /><br />tel. +7-9122402110<br />
          ctamm@e1.ru
        </div>
        <div class="sub-box">Manager</div>
        <div class="sub-box">
          <button type="button" class="collapsible">
            Open to see details ...
          </button>
          <div class="collapsible_content">
            <ol class="collapsible_ol">
              <li>Development of Strategy for the company development;</li>
              <li>
                Budgeting. Elaboration of business processes and business plans;
              </li>
              <li>Optimisation of capacity of storage facilities and stock;</li>
              <li>
                Monitoring of action plans aimed at increasing company
                profitability;
              </li>
              <li>
                Elaboration of action plans aimed at increasing company
                efficiency and effectiveness (marketing, advertising, personnel,
                special actions and etc.);
              </li>
              <li>Organisation of efficient system of company management;</li>
              <li>
                Team building, including personnel selection and development of
                motivation system for personnel;
              </li>
              <li>
                Development of action plan aimed at increasing qualification of
                personnel;
              </li>
              <li>
                Carrying out marketing activities aimed at surveying the market
                demand and competition and also aimed at attracting new clients;
              </li>
              <li>Development of planning and reporting system;</li>
              <li>Development of analytical reports for the company owner.</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
