{% extends 'cv/base.html' %} {% block content %}

<!-- ----------------Assignment No.1 ------------------------------ -->
<div class="shadow">
  <div class="text_box">
    <div class="sub-box table_head">
      Date <br />
      (from–to)
    </div>
    <div class="sub-box table_head">Location</div>
    <div class="sub-box table_head">
      Company & <br />
      Reference person
    </div>
    <div class="sub-box table_head">Position</div>
    <div class="sub-box table_head">Duties</div>
  </div>
  <hr />
  <div class="text_box">
    <div class="sub-box">
      <div class="sub-box text_in_duties">23.05.2011</div>
      <div class="sub-box text_in_duties">–</div>
      <div class="sub-box text_in_duties">26.05.2011</div>
    </div>
    <div class="sub-box">
      <div class="sub-box text_in_duties">Kaliningrad</div>
      <div class="sub-box text_in_duties">(Russia)</div>
      <div class="sub-box text_in_duties">
        <img
          src="images\icons8-россия-48.png"
          class="flag_location"
          alt="Russian flag"
        />
      </div>
    </div>
    <div class="sub-box">
      <img
        src="images\icons8-дания-48.png"
        class="sub-box flag_company"
        alt="Danish flag"
      />
      <div class="sub-box company_in_two_lines">
        NORDEN, <br />
        Nordic Council of Ministers, <br />Information Office <br />in
        Kaliningrad
      </div>
      <br />
      Reference person: <br />Arne Grove, Director <br />
      office 6, str. Chernyakhovski, Kaliningrad, 236040, Russia
      <br /><br />tel. +7 4012 616972, <br />fax +7 4012 616973<br />
      info@norden39.ru <br />www.norden39.ru
    </div>
    <div class="mini_table2">
      <div class="sub-box text_in_duties">Trainer / Moderator</div>
    </div>
    <div class="sub-box">
      Execution of 2-day seminar on Project Cycle Management in the framework of
      4-day Spring Session of Baltic Sea Region Rotating Energy Planning Academy
      (BALREPA), organised by NORDEN – Nordic Council of Ministers Information
      Office in Kaliningrad
    </div>
  </div>
</div>

<!-- ----------------Assignment No.2 ------------------------------ -->
<div class="shadow">
  <div class="text_box">
    <div class="sub-box table_head">
      Date <br />
      (from–to)
    </div>
    <div class="sub-box table_head">Location</div>
    <div class="sub-box table_head">
      Company & <br />
      Reference person
    </div>
    <div class="sub-box table_head">Position</div>
    <div class="sub-box table_head">Duties</div>
  </div>
  <hr />
  <div class="text_box">
    <div class="sub-box">
      <div class="sub-box text_in_duties">24.06.2008</div>
      <div class="sub-box text_in_duties">–</div>
      <div class="sub-box text_in_duties">01.07.2008</div>
    </div>
    <div class="sub-box">
      <div class="sub-box text_in_duties">Ekaterinburg</div>
      <div class="sub-box text_in_duties">(Russia)</div>
      <div class="sub-box text_in_duties">
        <img
          src="images\icons8-россия-48.png"
          class="flag_location"
          alt="Russian flag"
        />
      </div>
    </div>
    <div class="sub-box">
      <img
        src="images\icons8-венгрия-48.png"
        class="sub-box flag_company"
        alt="Hungarian flag"
      />
      <div class="sub-box company_in_two_lines">Hydea Consulting Ltd (HU)</div>
      <br />Andrassy str. 128, I/6 <br />
      Budapest, 1062, Hungary <br /><br />tel. +36-1-354-2440
      <br />fax:+36-1-354-2449<br />hydeaconsulting@hydea.hu
    </div>
    <div class="mini_table2">
      <div class="sub-box text_in_duties">
        Evaluator of <br />
        IBPP Concept Notes
      </div>
      <div class="dropdown">
        <img
          class="document"
          src="images_assignments\Hydea_icon.jpg"
          alt="Short-term assignment for Hydea"
          width="100"
          height="150"
        />
        <div class="dropdown-content">
          <img
            src="images_assignments\Hydea.jpg"
            alt="diploma main"
            width="500"
            height="700"
          />
          <div class="desc">The Reference Letter from the Contractor</div>
        </div>
      </div>
    </div>
    <div class="sub-box">
      <span class="simply_bold">Framework Contract</span>
      EUROPEAID/123314/C/SER/ multi - Lot 2 “Evaluation of calls for proposals
      regarding projects with a value of less than EUR 500 000 and in accordance
      wit the letter of contract 2007/147214” <br /><br />
      <span class="simply_bold">Project</span>: “Assessment of IBPP Civil
      Society Concept Notes 2008 – Russia” (N° ENPI/2008/157-798) The services
      provided under this project included the technical evaluation of the
      applications submitted under the ongoing IBPP Civil Society and Local
      Initiatives restricted call for proposal (Reference:
      EuropeAid/126915/L/ACT/RU) <br /><br />
      <span class="simply_bold"
        >35 IBPP Concept Notes have been evaluated.</span
      >
    </div>
  </div>
</div>

<!-- ----------------Assignment No.3 ------------------------------ -->
<div class="shadow">
  <div class="text_box">
    <div class="sub-box table_head">
      Date <br />
      (from–to)
    </div>
    <div class="sub-box table_head">Location</div>
    <div class="sub-box table_head">
      Company & <br />
      Reference person
    </div>
    <div class="sub-box table_head">Position</div>
    <div class="sub-box table_head">Duties</div>
  </div>
  <hr />
  <div class="text_box">
    <div class="sub-box">
      <div class="sub-box text_in_duties">24.04 1996</div>
      <div class="sub-box text_in_duties">–</div>
      <div class="sub-box text_in_duties">13.05.1996</div>
    </div>
    <div class="mini_table2">
      <div class="sub-box">
        <div class="sub-box text_in_duties">Kampala</div>
        <div class="sub-box text_in_duties">(Uganda)</div>
        <div class="sub-box text_in_duties">
          <img
            src="images\icons8-уганда-48.png"
            class="flag_location"
            alt="Ugandian flag"
          />
        </div>
      </div>
      <div class="sub-box">
        <div class="sub-box text_in_duties">Momdassa</div>
        <div class="sub-box text_in_duties">(Kenya)</div>
        <div class="sub-box text_in_duties">
          <img
            src="images\icons8-кения-48.png"
            class="flag_location"
            alt="Kenyan flag"
          />
        </div>
      </div>
    </div>
    <div class="sub-box">
      <img
        src="images\icons8-германия-48.png"
        class="sub-box flag_company"
        alt="German flag"
      />
      <div class="sub-box company_in_two_lines">
        Small and Medium Enterprise Development Programme GTZ (DE)
      </div>
      <br /><br />Reference person:<br />
      Mr. Peter Wedemeyer, <br />GTZ/UMA-USSIA Programme Director,<br />
      Project Administration Service, <br />P.O. Box 10346, Kampala, Uganda,
      <br /><br />tel. +41-236-178
    </div>
    <div>
      <div class="sub-box text_in_duties">Training Expert</div>
      <br />
      <div class="grids_2x2">
        <div class="dropdown">
          <img
            class="document"
            src="images_assignments\GTZ-1_icon.jpg"
            alt="Short-term assignment for Hydea"
            width="45"
            height="70"
          />
          <div class="dropdown-content">
            <img
              src="images_assignments\GTZ-1.jpg"
              alt="diploma main"
              width="500"
              height="700"
            />
            <div class="desc">The Reference Letter from the Contractor</div>
          </div>
        </div>
        <div class="dropdown">
          <img
            class="document"
            src="images_assignments\GTZ-2_icon.jpg"
            alt="Short-term assignment for Hydea"
            width="45"
            height="70"
          />
          <div class="dropdown-content">
            <img
              src="images_assignments\GTZ-2.jpg"
              alt="diploma main"
              width="500"
              height="700"
            />
            <div class="desc">The Reference Letter from the Contractor</div>
          </div>
        </div>
        <div class="dropdown">
          <img
            class="document"
            src="images_assignments\GTZ-3_icon.jpg"
            alt="Short-term assignment for Hydea"
            width="45"
            height="70"
          />
          <div class="dropdown-content">
            <img
              src="images_assignments\GTZ-3.jpg"
              alt="diploma main"
              width="500"
              height="700"
            />
            <div class="desc">The Reference Letter from the Contractor</div>
          </div>
        </div>
      </div>
    </div>
    <div class="sub-box">
      <span class="simply_bold">Management Training</span>
      (preparation of training modules for management training, execution of the
      training, course evaluation, reporting);<br /><br />
      <span class="simply_bold"
        >Training for Business Plan and Feasibility Study Preparation based on
        UNIDO COMFAR software </span
      >(preparation of training modules for the training, execution of the
      training, course evaluation, reporting); <br /><br />
      <span class="simply_bold">Training for Consultancy</span>
      (preparation of training modules for consultancy training, execution of
      the training, course evaluation, reporting) >
    </div>
  </div>
</div>

<!-- ----------------Assignment No.4 ------------------------------ -->
<div class="shadow">
  <div class="text_box">
    <div class="sub-box table_head">
      Date <br />
      (from–to)
    </div>
    <div class="sub-box table_head">Location</div>
    <div class="sub-box table_head">
      Company & <br />
      Reference person
    </div>
    <div class="sub-box table_head">Position</div>
    <div class="sub-box table_head">Duties</div>
  </div>
  <hr />
  <div class="text_box">
    <div class="sub-box">
      <div class="sub-box text_in_duties">30.10 1995</div>
      <div class="sub-box text_in_duties">–</div>
      <div class="sub-box text_in_duties">15.11.1995</div>
    </div>
    <div class="sub-box">
      <div class="sub-box text_in_duties">Kampala</div>
      <div class="sub-box text_in_duties">(Uganda)</div>
      <div class="sub-box text_in_duties">
        <img
          src="images\icons8-уганда-48.png"
          class="flag_location"
          alt="Ugandian flag"
        />
      </div>
    </div>
    <div class="sub-box">
      <img
        src="images\icons8-германия-48.png"
        class="sub-box flag_company"
        alt="German flag"
      />
      <div class="sub-box company_in_two_lines">
        Small and Medium Enterprise Development Programme GTZ (DE)
      </div>
      <br /><br />Reference person:<br />
      Mr. Peter Wedemeyer, <br />GTZ/UMA-USSIA Programme Director,<br />
      Project Administration Service, <br />P.O. Box 10346, Kampala, Uganda,
      <br /><br />tel. +41-236-178
    </div>
    <div>
      <div class="sub-box text_in_duties">Training Expert</div>
      <br />
      <div class="grids_2x2">
        <div class="dropdown">
          <img
            class="document"
            src="images_assignments\Seminar-05_icon.jpg"
            alt="Short-term assignment for Hydea"
            width="45"
            height="70"
          />
          <div class="dropdown-content">
            <img
              src="images_assignments\Seminar-05.jpg"
              alt="diploma main"
              width="500"
              height="700"
            />
            <div class="desc">The Reference Letter from the Contractor</div>
          </div>
        </div>
        <div class="dropdown">
          <img
            class="document"
            src="images_assignments\Seminar-06_icon.jpg"
            alt="Short-term assignment for Hydea"
            width="45"
            height="70"
          />
          <div class="dropdown-content">
            <img
              src="images_assignments\Seminar-06.jpg"
              alt="diploma main"
              width="500"
              height="700"
            />
            <div class="desc">The Reference Letter from the Contractor</div>
          </div>
        </div>
        <div class="dropdown">
          <img
            class="document"
            src="images_assignments\Seminar-07_icon.jpg"
            alt="Short-term assignment for Hydea"
            width="45"
            height="70"
          />
          <div class="dropdown-content">
            <img
              src="images_assignments\Seminar-07.jpg"
              alt="diploma main"
              width="500"
              height="700"
            />
            <div class="desc">The Reference Letter from the Contractor</div>
          </div>
        </div>
        <div class="dropdown">
          <img
            class="document"
            src="images_assignments\Seminar-08_icon.jpg"
            alt="Short-term assignment for Hydea"
            width="45"
            height="70"
          />
          <div class="dropdown-content">
            <img
              src="images_assignments\Seminar-08.jpg"
              alt="diploma main"
              width="500"
              height="700"
            />
            <div class="desc">The Reference Letter from the Contractor</div>
          </div>
        </div>
      </div>
    </div>
    <div class="sub-box">
      <span class="simply_bold">Management Training</span>
      (preparation of training modules for management training, execution of the
      training, course evaluation, reporting);<br /><br />
      <span class="simply_bold"
        >Training for Business Plan and Feasibility Study Preparation based on
        UNIDO COMFAR software </span
      >(preparation of training modules for the training, execution of the
      training, course evaluation, reporting); <br /><br />
      <span class="simply_bold">Training for Consultancy</span>
      (preparation of training modules for consultancy training, execution of
      the training, course evaluation, reporting) >
    </div>
  </div>
</div>

<!-- ----------------Assignment No.5 ------------------------------ -->
<div class="shadow">
  <div class="text_box">
    <div class="sub-box table_head">
      Date <br />
      (from–to)
    </div>
    <div class="sub-box table_head">Location</div>
    <div class="sub-box table_head">
      Company & <br />
      Reference person
    </div>
    <div class="sub-box table_head">Position</div>
    <div class="sub-box table_head">Duties</div>
  </div>
  <hr />
  <div class="text_box">
    <div class="sub-box">
      <div class="sub-box text_in_duties">26.05 1995</div>
      <div class="sub-box text_in_duties">–</div>
      <div class="sub-box text_in_duties">07.06.1995</div>
    </div>
    <div class="sub-box">
      <div class="sub-box text_in_duties">Skopje</div>
      <div class="sub-box text_in_duties">(Macedonia)</div>
      <div class="sub-box text_in_duties">
        <img
          src="images\icons8-македония-48.png"
          class="flag_location"
          alt="Russian flag"
        />
      </div>
    </div>
    <div class="sub-box">
      <img
        src="images\icons8-германия-48.png"
        class="sub-box flag_company"
        alt="Hungarian flag"
      />
      <div class="sub-box company_in_two_lines">
        Economic Re-Integration Programme Government of Nordrhein-Westfalen, PEM
        (DE)
      </div>
      <br /><br />
      Reference person: <br />
      Mr. Peter Wedemeyer, <br />Programme Director, <br />PEM GmbH,<br />
      Muendelheimer Weg 9, <br />Duesseldorf 40472, Germany <br /><br />Tel.
      +49-211-414021
    </div>
    <div class="mini_table2">
      <div class="sub-box text_in_duties">Training Expert</div>
      <div class="dropdown">
        <img
          class="document"
          src="images_assignments\PEM_resized.jpg"
          alt="Short-term assignment for Hydea"
          width="100"
          height="150"
        />
        <div class="dropdown-content">
          <img
            src="images_assignments\PEM.jpg"
            alt="diploma main"
            width="500"
            height="700"
          />
          <div class="desc">The Reference Letter from the Contractor</div>
        </div>
      </div>
    </div>
    <div class="sub-box">
      <span class="simply_bold">Training for Business Development </span>
      (preparation of training modules for Business Development, execution of
      the training, course evaluation, reporting);
      <span class="simply_bold"
        >Development training manuals for Business Analysis</span
      >
    </div>
  </div>
</div>

<script>
  // ---------------- Script for Navbar with Dropdown ----------------

  function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
      x.className += " responsive";
    } else {
      x.className = "topnav";
    }
  }
  // -------------------------------------------------------------------
</script>
<footer>
  <div class="sign">
    <h3>Still think of this footer</h3>
  </div>

  <div class="sign">
    <img src="images\Page_Under_Construction.jpg" alt="" />
  </div>
</footer>
{% endblock content %}
