{% extends 'cv/base.html' %} {% block content %}

    <!-- -----------------Box No.1--------------------------- -->

    <div class="seminars">
      <div class="seminars_taken">
        <div class="span4 box-title">
          Seminars where
          <span style="text-decoration: rgb(194, 198, 223) wavy underline"
            >I was trained</span
          >
        </div>

        <div class="certificate_icon dropdown">
          <img
            src="images_education\Seminar-01_icon.jpg"
            alt="diploma main"
            width="80"
            height="120"
          />
          <div class="dropdown-content">
            <img
              src="images_education/Seminar-01.jpg"
              alt="diploma main"
              width="415"
              height="600"
            />
            <div class="desc">Certificate of Attendance</div>
          </div>
        </div>

        <div class="certificate_icon dropdown">
          <img
            src="images_education\Seminar-02_icon.jpg"
            alt="diploma main"
            width="170"
            height="120"
          />
          <div class="dropdown-content">
            <img
              src="images_education/Seminar-02.jpg"
              alt="diploma main"
              width="850"
              height="600"
            />
            <div class="desc">Certificate of Attendance</div>
          </div>
        </div>

        <div class="certificate_icon dropdown">
          <img
            src="images_education\Seminar-03_icon.jpg"
            alt="diploma main"
            width="170"
            height="120"
          />
          <div class="dropdown-content">
            <img
              src="images_education/Seminar-03.jpg"
              alt="diploma main"
              width="762"
              height="600"
            />
            <div class="desc">Certificate of Attendance</div>
          </div>
        </div>

        <div class="certificate_icon dropdown">
          <img
            src="images_education\Seminar-04_icon.jpg"
            alt="diploma main"
            width="80"
            height="120"
          />
          <div class="dropdown-content">
            <img
              src="images_education/Seminar-04.jpg"
              alt="diploma main"
              width="448"
              height="600"
            />
            <div class="desc">Certificate of Attendance</div>
          </div>
        </div>
      </div>
    </div>

    <!-- -----------------Box No.2-1 --------------------------- -->

    <div class="seminars">
      <div class="seminars_given">
        <div class="span10 box-title">
          Seminars on Project Cycle Management where
          <span style="text-decoration: rgb(194, 198, 223) wavy underline"
            >I trained others</span
          >
          in the period of 2000 – 2008
        </div>

        <div class="span2 certificate_icon dropdown">
          <img
            src="images_education/LSO_LETTER_icon.jpg"
            alt="diploma main"
            width="80"
            height="120"
          />
          <div class="span2 dropdown-content">
            <img
              src="images_education/LSO_LETTER.jpg"
              alt="diploma main"
              width="390"
              height="600"
            />
            <div class="desc">Supporting Letter</div>
          </div>
        </div>

        <div class="span2 certificate_icon dropdown">
          <img
            src="images_education/LSO_Seminars-01_icon.jpg"
            alt="diploma main"
            width="80"
            height="120"
          />
          <div class="span2 dropdown-content">
            <img
              src="images_education/LSO_Seminars-01.jpg"
              alt="diploma main"
              width="390"
              height="600"
            />
            <div class="desc">List of Seminars</div>
          </div>
        </div>

        <div class="span2 certificate_icon dropdown">
          <img
            src="images_education/LSO_Seminars-02_icon.jpg"
            alt="diploma main"
            width="80"
            height="120"
          />
          <div class="span2 dropdown-content">
            <img
              src="images_education/LSO_Seminars-02.jpg"
              alt="diploma main"
              width="390"
              height="600"
            />
            <div class="desc">List of Seminars</div>
          </div>
        </div>

        <div class="span2 certificate_icon dropdown">
          <img
            src="images_education/LSO_Seminars-03_icon.jpg"
            alt="diploma main"
            width="80"
            height="120"
          />
          <div class="span2 dropdown-content">
            <img
              src="images_education/LSO_Seminars-03.jpg"
              alt="diploma main"
              width="390"
              height="600"
            />
            <div class="desc">List of Seminars</div>
          </div>
        </div>

        <div class="span2 certificate_icon dropdown">
          <img
            src="images_education/LSO_Seminars-04_icon.jpg"
            alt="diploma main"
            width="80"
            height="120"
          />
          <div class="span2 dropdown-content">
            <img
              src="images_education/LSO_Seminars-04.jpg"
              alt="diploma main"
              width="390"
              height="600"
            />
            <div class="desc">List of Seminars</div>
          </div>
        </div>

        <!-- -----------------Box No.2-2 --------------------------- -->

        <div class="span10 box-title-including">
          ... including the period of 2000 – 2003
        </div>
        <div class="span4 box_left certificate_icon dropdown">
          <img
            src="images_education/Seminars 2003-1_icon.jpg"
            alt="diploma main"
            width="80"
            height="120"
          />
          <div class="dropdown-content">
            <img
              src="images_education/Seminars 2003-1.jpg"
              alt="diploma main"
              width="390"
              height="600"
            />
            <div class="desc">Supporting Letter</div>
          </div>
        </div>

        <div class="span2"></div>

        <div class="span4 box_right certificate_icon dropdown">
          <img
            src="images_education/Seminars 2003-2_icon.jpg"
            alt="diploma main"
            width="80"
            height="120"
          />
          <div class="dropdown-content">
            <img
              src="images_education/Seminars 2003-2.jpg"
              alt="diploma main"
              width="390"
              height="600"
            />
            <div class="desc">List of Seminars</div>
          </div>
        </div>
      </div>
    </div>

    <!-- -----------------Box No.3 --------------------------- -->

    <div class="seminars">
      <div class="seminars_given">
        <div class="span3 box-title">
          Business seminars
          <span style="text-decoration: rgb(194, 198, 223) wavy underline"
            >I carried out</span
          >
          for SMEs
        </div>

        <div class="certificate_icon dropdown">
          <img
            src="images_education/NGO_LETTER_icon.jpg"
            alt="diploma main"
            width="80"
            height="120"
          />
          <div class="dropdown-content">
            <img
              src="images_education/NGO_LETTER.jpg"
              alt="diploma main"
              width="390"
              height="600"
            />
            <div class="desc">Supporting Letter</div>
          </div>
        </div>

        <div class="certificate_icon dropdown">
          <img
            src="images_education/NGO_LETTER-seminars-1_icon.jpg"
            alt="diploma main"
            width="80"
            height="120"
          />
          <div class="dropdown-content">
            <img
              src="images_education/NGO_LETTER-seminars-1.jpg"
              alt="diploma main"
              width="390"
              height="600"
            />
            <div class="desc">List of Seminars</div>
          </div>
        </div>

        <div class="certificate_icon dropdown">
          <img
            src="images_education/NGO_LETTER-seminars-2_icon.jpg"
            alt="diploma main"
            width="80"
            height="120"
          />
          <div class="dropdown-content">
            <img
              src="images_education/NGO_LETTER-seminars-2.jpg"
              alt="diploma main"
              width="390"
              height="600"
            />
            <div class="desc">List of Seminars</div>
          </div>
        </div>
      </div>
    </div>

    <div class="sign">
      <img src="images\under construction-1.png" alt="" />
    </div>

    {% endblock content %}
  </body>
</html>
