{% extends 'cv/base.html' %} {% load static %} {% block content %}
<!-- ----------------  -->
{% load i18n %}
<div class="container">
  <div class="skillfactory">
    <div class="skillfactory__image">
      <img
        src="{% static 'cv/images/images_education/Skillfactory_Certificate.png' %}"
        alt="Skillfactory certificate"
      />
    </div>

    <div class="skillfactory__course">
      <div class="skillfactory__title">
        {% trans 'The main sections of the course:' %}
      </div>
      <ol>
        <li>{% trans 'Introduction to Python' %}</li>
        <li>{% trans 'Object Oriented Programming' %}</li>
        <li>
          {% trans 'Backend development with Python and Django (Django, PostgreSQL, Celery, Redis, Django REST Framework )' %}
        </li>
        <li>
          {% trans 'Website layout and front-end development in JavaScript (JavaScript, AJAX, HTML, CSS, SASS)' %}
        </li>
        <li>{% trans 'Frontend development frameworks (React and Redux)' %}</li>
        <li>
          {% trans 'Full stack development (Creating a modern web application with Django and React, Client-server communication via web sockets)' %}
        </li>
        <li>'DevOps (Linux, Docker)</li>
      </ol>
    </div>
    <div class="skillfactory__image">
      <img
        src="{% static 'cv/images/images_education/Diploma.png' %}"
        alt="Skillfactory diploma"
      />
    </div>
  </div>
</div>

{% endblock content %}
