{% extends 'cv/base.html' %} {% block content %}

<div class="usib-backround-image">
  <div class="usib-logo">
    <img src="images_education\usib-logo.jpg" alt="" />
  </div>
  <div class="usib-title">The Urals-Siberia Institute of Business</div>
  <div class="usib-faculty">Master of Business Administration</div>
  <div class="usib-year">2001-2003, Ekaterinburg, Russia</div>
  <div class="dropdown usib-diploma">
    <img
      src="images_education/MBA-diploma.jpg"
      alt="diploma main"
      width="220"
      height="150"
    />
    <span class="click_on_image">
      <br />Move the mouse over the image below <br />
      to open the dropdown content.</span
    >
    <div class="dropdown-content">
      <img
        src="images_education/MBA-diploma.jpg"
        alt="diploma main"
        width="865"
        height="604"
      />
      <div class="desc">Diploma of Master of Business Administration</div>
    </div>
  </div>
</div>

{% endblock content %}
