{% extends 'cv/base.html' %} {% load static %} {% block content %}
<!-- ----------------  -->
{% load i18n %}
<!-- ----------------  -->
{% trans 'Watch the result' as Watch_the_result %}
<!-- ----------------  -->
<div class="container">
  <div class="portfolio">
    <div class="portfolio__area">
      <div class="portfolio__title">{% trans 'The list of completed works' %}</div>
      <!-- --- Sample No.1 --- -->
      <div class="portfolio__sample">
        <div class="portfolio__sample_image">
          <a href="{% url 'portfolio_createx' %}" target="_blank">
            <span class="tooltip-center">
            <img
              src="{% static 'cv/images/portfolio/Createx-thumbnail.jpg' %}"
              alt="Portfolio icon"
            />
            <span class="tooltiptext-center">{% trans 'Click to watch the Initial task of the website layout' %}</span>
          </a>
        </div>
        <div class="portfolio__link_inner">
          <div class="portfolio__link_title font-effect-emboss">{% trans 'Createx Homepage' %}
            
          </div>
          <a href="https://createx.gaidysheff.store" target="_blank" rel="noopener" class="portfolio__link_btn">{{Watch_the_result}}</a>
        </div>
      </div>
      <!-- --- Sample No.2 --- -->
      <div class="portfolio__sample">
        <div class="portfolio__sample_image">
          <a href="{% url 'portfolio_finsweet' %}" target="_blank">
            <span class="tooltip-center">
            <img
              src="{% static 'cv/images/portfolio/Finsweet-thumbnail.jpg' %}"
              alt="Portfolio icon"
            />
            <span class="tooltiptext-center">{% trans 'Click to watch the Initial task of the website layout' %}</span>
          </a>
        </div>
        <div class="portfolio__link_inner">
          <div class="portfolio__link_title font-effect-emboss">{% trans 'Finsweet Homepage' %}
            
          </div>
          <a href="https://finsweet.gaidysheff.store" target="_blank" rel="noopener" class="portfolio__link_btn">{{Watch_the_result}}</a>
        </div>
      </div>
            <!-- --- Sample No.3 --- -->
      <div class="portfolio__sample">
        <div class="portfolio__sample_image">
          <a href="{% url 'portfolio_diploma' %}" target="_blank">
            <span class="tooltip-center">
            <img
              src="{% static 'cv/images/portfolio/diploma-thumbnail.png' %}"
              alt="Portfolio icon"
            />
            <span class="tooltiptext-center">{% trans 'Click to watch the screenshot of the page' %}</span>
          </a>
        </div>
        <div class="portfolio__link_inner">
          <div class="portfolio__link_title font-effect-emboss">{% trans 'My diploma' %}
            
            <p class="portfolio__link_subtitle font-effect-emboss">{% trans 'CRM project based on DJANGO 4' %}</p>
          </div>
          <a href="https://diploma.gaidysheff.store/" target="_blank" rel="noopener" class="portfolio__link_btn">{{Watch_the_result}}</a>
        </div>
      </div>
      <!-- --- Sample No.4 --- -->
      <div class="portfolio__sample">
        <div class="portfolio__sample_image">
          <a href="{% url 'portfolio_diploma' %}" target="_blank">
            <span class="tooltip-center">
            <img
              src="{% static 'cv/images/portfolio/Novokosulino_thumbnail.png' %}"
              alt="Portfolio icon"
            />
            <span class="tooltiptext-center">{% trans 'Click to watch the screenshot of the page' %}</span>
          </a>
        </div>
        <div class="portfolio__link_inner">
          <div class="portfolio__link_title font-effect-emboss">{% trans 'Village website' %}
            
            <p class="portfolio__link_subtitle font-effect-emboss">{% trans 'project based on DJANGO 4' %}</p>
          </div>
          <a href="https://novokosulino.gaidysheff.store/charts/" target="_blank" rel="noopener" class="portfolio__link_btn">{{Watch_the_result}}</a>
        </div>
      </div>
      <!-- --------- -->
    </div>
  </div>
</div>
{% endblock content %}
